<div ng-controller="editcategoryctrl">
		<div class="container">
			<!-- Trigger the modal with a button -->
		<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
			data-target="#editModal">Edit</button> -->
		 
			<!-- Modal -->
			<div class="modal fade" id="editModal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content" align="centre" style="background-color: none;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title" style="color: Hotpink;">Edit
								Category</h4>
						</div>
						<div class="modal-body" style="
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
">
							<form name="editcatform" novalidate="novalidate">
								Category Name<input type="text" name="categoryname" 
									class="form-control" ng-model="catname" ng-pattern="/^[a-zA-Z]*$/" ng-required="true" /> <span style="color: white; font-style: italic;"
													ng-show="editcatform.categoryname.$touched && editcatform.categoryname.$error.required">Required!!</span>
												<p style="color: white; font-style: italic;"
													ng-show="editcatform.categoryname.$error.pattern">Name
													contains only characters.</p> <br>
								<br>
								<button class="btn btn-info" type="submit"
									ng-click="editCategory()" data-dismiss="modal" ng-disabled="editcatform.$invalid">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</body>