<!-- Adding a new Book -->

<body  ng-controller="addbookctrl">
	<div class="row">
		<div class="container ">
			<div class="col-md-8 ">
				<div class="col-md-offset-4 panel" style="
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgba(27, 26, 26, 0.85);
    margin-top: 50px;
    border: 2px solid cyan;
    margin-left: 250px;
    width: 604px;color:white;
    " > 
<h2 style="color:hotpink">Add Book</h2>
					<form name="addbookform" method="post" novalidate>
						<label ng-hide="true"> ISBN</label><input type="text" name="bookisbn"
							class="form-control" ng-model="books.isbn" ng-pattern="/^[0-9]+$/">
								<p style="color:white; font-style:italic;"
														ng-show="addbookform.bookisbn.$error.required">
														Field required!</p> <br> 
					 <label>TITLE</label><input
							type="text" name="title" class="form-control"
							ng-model="books.title" ng-pattern="/^[a-zA-Z]*$/" ng-required="true">
												<span style="color: red; font-style: italic;"
													ng-show="addbook.title.$touched&&addbook.title.$error.required">Required!!</span>
												<p style="color: red; font-style: italic;"
													ng-show="addbook.title.$error.pattern">Title
													contains only characters.</p>  
							<label>AUTHOR</label> <input
							type="text" name="author" class="form-control"
							ng-model="books.author" ng-pattern="/^[a-zA-Z]*$/" ng-required="true">
												<span style="color: red; font-style: italic;"
													ng-show="addbook.author.$touched&&addbook.author.$error.required">Required!!</span>
												<p style="color: red; font-style: italic;"
													ng-show="addbook.author.$error.pattern">Author
													contains only characters.</p>   
							<label>COPIES</label><input
							type="number" id="copies" class="form-control"
							ng-model="books.copies" ng-pattern="/^[0-9]+$/"
															ng-required="true"/>
								<p style="color: red; font-style: italic;"
														ng-show="addbook.copies.$touched && addbook.copies.$error.required">
														Enter only the number of copies!!</p> <br>  <br> 
<label>CATEGORIES</label>
						
						
      <tags-input name="tags"
                  ng-model="books.cats" 
                  display-property="categoryname"
                  add-on-blur="false"
                  add-from-autocomplete-only="true"
                  min-tags="2"
                  max-tags="15"
                  allow-leftover-text="false"
                  add-on-paste="true"
                 style="color:black"
                  placeholder="Add categories to your books" ng-required="true">
     <auto-complete  min-length="1"  source="loadTags($query)"></auto-complete>
      </tags-input>
					<p style="color: red; font-style: italic;"
														ng-show="addbook.tags.$touched && addbook.tags.$error.required">
														Select a category to add!!</p> <br>  <br> 
						<br> <br>

						<!-- <button type="button" class="btn btn-mid btn-info"
							data-toggle="modal" data-target="#myModal">
							New Category
						</button> -->
						<span><button class="btn btn-mid btn-info" type="submit" ng-click="savebook()">Add a book</button>
</span>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="modal fade" id="myModal" role="dialog" ng-controller="addcategoryctrl">
		<div class="modal-dialog">
			Modal content
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Category</h4>
				</div>
				<div class="modal-body">
					Category Name<input type="text" id="categoryname"
								class="form-control" ng-model="categories.categoryname" /> <br>
							<br>
						<button class="btn btn-info" type="submit"
								ng-click="addcategoryy()" data-dismiss="modal">Add</button>
					</form>
				</div>
			</div>
		</div>
	</div>
 -->
</body>
