<!-- View Book By Category -->

<body ng-controller="viewbookctrl">
	<div class="container">
		<div style="padding-bottom: 12px" ng-repeat="y in booksbycategories">
			<br> <a class="pull-right" href="#view"
				style="color: rgba(49, 66, 74, 0.85)"> <i
				style="color:#407aa8"
				class="fa fa-chevron-left fa-3x"></i> <span class="sr-only"></span></a>
			<h2 style="color: #407aa8">&nbsp;&nbsp; List of books in
				{{y.categoryname}}</h2>

			<span style="color: rgba(49, 66, 74, 0.85)" ng-show=y.book==''>
				<label><br> <br>
					<h3>This Category Has no Books</h3></label>
			</span>
			<div class="row">


				<br>
				<div class="col-md-10">
					<br> <br>

					<div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
							ng-repeat="x in y.book">
							<div class="overlay panel"
								style="background-color: rgba(116, 127, 132, 0.28);">
								<h4 style="color: #407aa8">{{x.title}}</h4>
								<h4 style="color: White">
									By<br>
									<h4 style="color: hotpink">{{x.author}}</h4>
								</h4>
								<h4 style="color: #407aa8">{{x.isbn}}</h4>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
<!-- <body ng-controller="viewbookctrl">
    	<table>
    	<tr>
    	<th>title</th>
    	<th>author</th>
    	</tr>
    	<tbody ng-repeat="y in booksbycategories">
    	<tr ng-repeat="x in y.book">
    	<td>{{x.title}}</td>
    	<td>{{x.author}}</td>
    	</tr>
    	</tbody>
    	</table>
    	</body> -->