<div ng-controller="viewcategories">
	<div class="container">
		<div class="row" >
			<div class="col-md-10 ">
			<br><div> 
			<div class="col-xs-4 pull left"></div>
				 <div class=" col-xs-4  pull-center" ><h2 style="color: #407aa8">List Of Categories</h2></div>
				 <div class=" col-xs-4 pull-right" ><a role="button" ng-show=admin  href="#add"
						style="color:#407aa8; padding-bottom: 15px;"> <i
						class="fa fa-plus-circle fa-3x"></i>&nbsp;&nbsp;<b>add Category</b></a></div>
						</div>
			</div>
			
		
			<div class="col-md-10">
				<br> 

				<div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
						ng-repeat="x in categories" >
						<div class="overlay panel" style="background-color: rgba(116, 127, 132, 0.28);">
							<h2 style="color:#407aa8">{{x.categoryname}}</h2>
							<h4>
								<br> <a style="color: White" href=#viewbook/{{x.catid}}>View</a>
								&nbsp;&nbsp; <a role="button" ng-show="admin"
									style="color: White" data-toggle="modal"
									data-target="#editModal" ng-click="showcat(x.catid)" class="">Edit
								</a>
							</h4>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-controller="editcategoryctrl">
	<div class="container" tabindex='-1'>
		<!-- Trigger the modal with a button -->
		<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
			data-target="#editModal">Edit</button>
		 -->
		<!-- Modal -->
		<div class="modal fade" id="editModal" role="dialog" tabindex='-1'>
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content" align="centre"
					style="border: 2px solid #407aa8;background-color:white">
					<div class="modal-header">
						<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
						<h4 class="modal-title" style="color:#407aa8;">Edit Category</h4>
					</div>
					<div class="modal-body"
						style="padding-left: 30px; padding-right:30px; padding-bottom: 30px;">
						<form name="editcatname" novalidate>
							<label>Category Name</label><input type="text" name="categoryname"
								class="form-control" ng-model="catname.categoryname" /> 
								<p style="color:red; font-style:italic;"
		ng-show="editcatname.categoryname.$touched && editcatname.categoryname.$error.required">
														Field required!</p> <br>
							<br>
							<button class="btn btn-info" type="submit"
								ng-click="editCategory()" data-dismiss="modal">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
